$black-fonts-color: rgba(82, 82, 82, 0.918);

.productInfo {
    margin: 50px auto ;
    font-family: 'Comfortaa', cursive;
    color: $black-fonts-color;
    width: 60%;

    h1 {
        margin-bottom: 30px;
    }
}



// images by unsplash