.container {
    width: 100vw;
    height: 100vh;
}

.logoDiv {
    height: 15vh;
    width: 100vw;
}

.signupDiv {
    height: 60vh;
    width: 100%;
}

.signupContent {
    height: 100%;
    width: 40vw;
    margin-left: 30vw;
    background: rgb(255, 255, 255);
    box-shadow: 6px 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

// img {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 75%;
//     height: 45%;
// }

.imgDiv {
    width: 15vw;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;

}

li {
    line-height: 2vh; 
}

P {
    font-family: Roboto;
    font-style: normal;
    color: #969696;
}

label {
    background-color: #FFFFFF;
    border: lightslategray;
    box-sizing: border-box;
    border-radius: 2.5px;
}

h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    line-height: 2vh;
    color: #8888FF;
    padding-left: 2vw;
    padding-top: 3vh;
}

.signupBtn {
    padding-left: 60%;
    padding-top: 3vh;
}
