.userCredit {
    position: absolute;
    top: 50px;
    right: 60px;
    width: 12%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .wallet {
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-bottom: 5px;
    }
    
    .balance {
        font-size: 25px;
    }
    
    p {
        font-family: 'Comfortaa', cursive;
        color: #2A2AFF;
    }
}